* {
    padding: 0px;
    margin: 0px;
}

:root {
    font-size: 16px;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    text-align: center;
    color: lightblue;
    font-size: 3rem;
    background-color: teal;
    border-bottom: solid 2px gray;
    padding: 1rem;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    padding: 20px;
}

.cell {
    border: 1px blue solid;
    height: 150px;
    width: 150px;
    cursor: pointer;
}