* {
    padding: 0px;
    margin: 0px;
}

:root {
    font-size: 16px;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    text-align: center;
    color: lightblue;
    font-size: 3rem;
    background-color: teal;
    border-bottom: solid 2px gray;
    padding: 1rem;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    padding: 20px;
}

.cell {
    border: 1px blue solid;
    height: 150px;
    width: 150px;
    cursor: pointer;
    text-align: center;
    font-size: 6rem;
}

.what-turn {
    text-align: center;
    padding-top: 10px;
}

.winner {
    background-color: red;
    color: white;
}

.meta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset {
    background-color: teal;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}